:root {
    --color1:#D9EDBF; /* rgba(253, 255, 171, 1) */
    --color2:#FFB996;  /* rgba(255, 207, 129, 1) */
    --color3:#FFCF81;  /* rgba(255, 185, 150, 1) */
    --color4:#FDFFAB;  /* rgba(217, 237, 191, 1) */
    --color5:white;
    --color6:green;
    --color7:silver;
    --rgbaBackground:red;
    --rgbaTextColor:blue;
    --linearGradientBg1: linear-gradient(to right, rgba(253, 255, 171, 1) 0%, rgba(255, 207, 129, 0.6) 100%, rgba(255, 185, 150, 0.5) 100%);
    --linearGradientBg2:linear-gradient(to right, rgba(255, 207, 129, 1) 0%, rgba(255, 185, 150, 1) 50%, rgba(217, 237, 191, 1) 100%);
    --blurBlack:rgba(0,0,0,0.8);
}

.navBackground{
    background-image: var(--linearGradientBg2);
}
.boldTitle{
    color: rgba(0,0,0,1);
    font-family: serif;
    font-weight: 500;
    font-size: 23px;
}
.navLink{
    color: black;
    font-family: Montserrat, serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.navLink:hover{
    color: var(--color6);
}
.navBackground .boldTitle:hover{
    color: var(--color6);
}
.homeTopBg{
    background-image: url("../Images/juBus2.jpg");
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.homeTopOverlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 550px;
    position: relative;
}
.homeTopContent{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 20px 0 20px;
}
.title{
    color: var(--color5);
    line-height: 2.4rem;
    font-family:serif;
    font-size: 22px;
    font-weight: 500;
}
.footerBody{
    text-align: center;
    background-color: var(--color3);
    padding: 20px 0 10px 0;
}
.footerContent{
    color: black;
    font-size: 20px;
    font-family: serif;
}
.footerContent a{
    color: black!important;
    text-decoration: none;
}
.footerCredit:hover{
    color: var(--color4);
    cursor: pointer;
    transition: 0.3s;
}

.formBody{
    background-image: var(--linearGradientBg1);
    padding: 20px 30px 20px 30px;
}
.regiLabel{
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 400;
}
.submitBtn{
    color: black;
    background-image: var(--linearGradientBg2);
    font-family: Montserrat, serif;
    border: 1px solid var(--color6);
}
.submitBtn:hover{
    color: var(--color6);
    background-image: var(--linearGradientBg1);
    border: 1px solid var(--color7);
}
.form-control:focus {
    box-shadow: none;
}
